<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<app-sildenav></app-sildenav>
<div class="container">
  <div class="tittle">
    <h2>Quản Lí Danh Mục</h2>

    <button class="btn" (click)="openDialogAdd()">+Add</button>
  </div>

<!--  <div class="home-section mat-elevation-z8">-->
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="catalogId">
        <th class="center" mat-header-cell *matHeaderCellDef> ID </th>
        <td class="center" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="catalogName">
        <th class="center" mat-header-cell *matHeaderCellDef> Tên </th>
        <td class="center" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="center" mat-header-cell *matHeaderCellDef> Hành Động </th>
        <td class="center" mat-cell *matCellDef="let element">
          <i class="fa-solid fa-pen-to-square" (click)="onEditClick(element)"></i>
          <i class="fa-solid fa-trash-can" (click)="hanldeDelete(element.id)" ></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
<!--  </div>-->


</div>


