

.fa-solid {
  cursor: pointer;
  font-size: 1.5rem

}
.fa-solid:hover {
  opacity: .5;
}
.fa-trash-can {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.addproduct {
  background-color: #d633844D;
}

span{
  margin-left: 62rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 40px;
  perspective: 1000px;
}
span a{
  font-size: 0.9rem;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}
span a:before,
span a:after{
  position: absolute;
  content: "Thêm sản phẩm";
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.title th {
  text-align: center;
}
.content th {
  text-align: center;
}
.content td {
  text-align: center;
}
