<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<div class="sidebar ">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">Admin</div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/manager-user">
        <i class='bx bx-user' ></i>
        <span class="links_name" >Quản Lí Người Dùng</span>
      </a>
      <span class="tooltip">Quản Lí Người Dùng</span>
    </li>

    <li>
      <a routerLink="/manager-catalog">
        <i class='bx bx-album' ></i>
        <span class="links_name">Quản Lí Danh Mục</span>
      </a>
      <span class="tooltip">Quản Lí Danh Mục</span>
    </li>

    <li>
      <a href="/manager-product">
        <i class='bx bx-shopping-bag'></i>
        <span class="links_name">Quản Lí Sản Phẩm</span>
      </a>
      <span class="tooltip">Quản lí Sản Phẩm</span>
    </li>


    <li>
      <a href="#">
        <i class='bx bx-cart-alt' ></i>
        <span class="links_name">Quản lí đơn hàng</span>
      </a>
      <span class="tooltip">Quản lí đơn hàng</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <!--<img src="profile.jpg" alt="profileImg">-->
<!--        <div class="name_job">-->
<!--          <div class="name">Prem Shahi</div>-->
<!--          <div class="job">Web designer</div>-->
<!--        </div>-->
      </div>
      <i class='bx bx-log-out' id="log_out" ></i>
    </li>
  </ul>
</div>


